<%= form_with(url:profile_path(@person_profile), local: true, method: :put) do |form| %>
  <%= form.label 'email' %>
  <%= form.hidden_field :account_id, value: current_account.id %>
 <p><%= form.label 'ім`я' %>
  <%= form.text_field :first_name %></p>
  <p><%= form.label 'прізвище' %>
  <%= form.text_field :last_name %>
  <div class="actions"></div>
    <%= form.submit "готово", class: 'btn btn-primary' %>
  </div>
<% end %>
