<p id="notice"><%= notice %></p>

 	<%= @person_profile.account.email %>
	<%= @person_profile.first_name %>
	<%= @person_profile.last_name %>
	<%= link_to 'edit', edit_profile_path(@person_profile)%> 


 