<p id="notice"><%= notice %></p>

	<!-- <table>
	  <thead>
	    <tr>
	      <th>email</th>
	      <th>first_name</th>
	      <th>last_name</th>
	      <th colspan="3"></th>
	    </tr>
	  </thead> -->
	<!--  <table class="table table-hover">
	  <thead>
	    <tr>
	      <th scope="col">email</th>
	      <th scope="col">first_name</th>
	      <th scope="col">last_name</th>
	      <th scope="col" colspan="3">Actions</th>
	    </tr>
	  </thead>

	  <tbody>
	    <tr>
			 	<td><%= @person_profile.account.email %></td>
				<td><%= @person_profile.first_name %></td>
				<td><%= @person_profile.last_name %></td>
				<td><%= link_to 'edit', edit_profile_path(@person_profile), class: 'btn btn-warning'%></td>
	    </tr>
	  </tbody>
	</table> -->

	<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="..." class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= @person_profile.account.email %></h5>
        <p class="card-text"><%= @person_profile.first_name %></p>
        <p class="card-text"><%= @person_profile. last_name %></p>
        <td><%= link_to 'edit', edit_profile_path(@person_profile), class: 'btn btn-warning'%></td>
      </div>
    </div>
  </div>
</div>

