<!-- <p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-10 offset-md-1">

    <h1>Initiatives</h1>

    <!-- <table>
      <thead>
        <tr>
          <th>idea</th>
          <th>initiator_proposal</th>
        </tr>
      </thead> -->
     <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">idea</th>
            <th scope="col">initiator_proposal</th>
          </tr>
        </thead>
            <tbody>
              <% @initiatives.each do |initiative| %>
                <tr>
                  <td><%= initiative.idea.title %></td>
                  <td><%= link_to 'Show', initiative, class: 'btb btn-info' %></td>
                </tr>
          	  <% end %>
            </tbody>
      </table>

    <br>
  </div>
</div> -->


 <% @initiatives.each do |initiative| %>
  <div class="card">
    <div class="card-header">
      idea
    </div>
    <div class="card-body">
      <h5 class="card-title"><%= initiative.idea.title %></h5>
      <p class="card-text">initiator_proposal</p>
      <%= link_to 'Show', initiative, class: 'btn btn-primary' %>
    </div>
  </div>
  <% end %>

