<p id="notice"><%= notice %></p>
<p><%= @initiative.idea.title %></p>
<p><%= @initiative.idea.description %></p>
<p><%= @initiative.account.email %></p>
<p><%= @initiative.initiator_proposal.plan %></p>

<% if current_account.id == @initiative.account_id  %>
	<p><%= link_to 'cancel', cancel_initiative_path(initiative), method: :delete, data: { confirm: 'Are you sure?' } %></p>
<% end %>       