<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-10 offset-md-1">
     <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= @initiative.idea.title %></h5>
          <p><%= @initiative.idea.description %></p>
          <h5 class="card-title"><%= @initiative.account.email %></h5>
          <p><%= @initiative.initiator_proposal.plan %></p>
          <%  @stages.each do |stage| %>
            <p><%= link_to stage.title, initiative_implementation_stage_path(@initiative, stage) %></p>
          <% end %>
          <% if current_account.id == @initiative.account_id  %>
          <div class="row">
            <div class="col">
              <div class="float-right">
                <%= link_to 'додати етап', new_initiative_implementation_stage_path(@initiative),class: 'btn btn-warning' %>
              	<%= link_to 'cancel', cancel_initiative_path(@initiative), method: :delete, data: { confirm: 'Are you sure?' },class: 'btn btn-danger' %>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
  </div>
</div>
