<p id="notice"><%= notice %></p>

<h1>Ideas</h1>
<%= link_to 'New Idea', new_idea_path, class: 'btn btn-primary' %>

<div class="card-columns">
  <% @ideas.each do |idea| %>
    <%= link_to idea do %>
     <div class="card">
        <div class="card-body">
            <tr>
              <h5 class="card-title"><%= idea.title %></h5>
              <p class="card-text"><%= idea.get_likes.size %> подобається</p>
              <p class="card-text"><%= idea.get_dislikes.size %> не подобається</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </tr>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
