<p id="notice"><%= notice %></p>
<%= @idea.title %>
<%= @idea.description %>


<% if current_account.voted_for?(@idea) %>
  <% if current_account.voted_up_on?(@idea) %>
    <%= form_with(url: dislike_idea_votes_path(@idea), local: true) do |form| %>
      <div class="actions">
        <%= form.submit "-1 " %>
      </div>
    <% end %>
    <%= form_with(url: unlike_idea_votes_path(@idea), local: true) do |form| %>
      <div class="actions">
        <%= form.submit " 0 " %>
      </div>
    <% end %>

  <% else %>
    <%= form_with(url: like_idea_votes_path(@idea), local: true) do |form| %>
      <div class="actions">
        <%= form.submit "+1 " %>
      </div>
    <% end %>
    <%= form_with(url: undislike_idea_votes_path(@idea), local: true) do |form| %>
      <div class="actions">
        <%= form.submit " 0 " %>
      </div>
    <% end %>
  <% end %>

<% else %>
  <%= form_with(url: dislike_idea_votes_path(@idea), local: true) do |form| %>
    <div class="actions">
      <%= form.submit "-1 " %>
    </div>
  <% end %>
  <%= form_with(url: like_idea_votes_path(@idea), local: true) do |form| %>
    <div class="actions">
      <%= form.submit "+1 " %>
    </div>
  <% end %>
<% end %>
 @proposals

<table>
  <thead>
    <tr>
      <th>email</th>
      <th>задум</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @proposals.each do |proposal| %>
      <tr>
        <td><%= proposal.account.email %></td>
        <td><%= proposal.plan %></td>
        <td><%= link_to 'Edit', edit_idea_initiator_proposal_path(@idea, proposal) %></td>
        <% if current_account.id == proposal.account_id  %>
          <td><%= link_to 'Destroy', [@idea, proposal], method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% unless @proposals.find_by(account_id: current_account.id) %>
  <%= link_to 'хочу втілити цю ідею', new_idea_initiator_proposal_path(@idea) %> 
<% end %>
<%= link_to 'Edit', edit_idea_path(@idea) %> |
<%= link_to 'Back', ideas_path %>
