<p id="notice"><%= notice %></p>
<%= @idea.title %>
<%= @idea.description %>


<% if current_account.voted_for?(@idea) %>
  <% if current_account.voted_up_on?(@idea) %>
    <%= form_with(url: dislike_idea_votes_path(@idea), local: true) do |form| %>
      <div class="actions">
        <%= form.submit "-1 " %>
      </div>
    <% end %>
    <%= form_with(url: unlike_idea_votes_path(@idea), local: true) do |form| %>
      <div class="actions">
        <%= form.submit " 0 " %>
      </div>
    <% end %>

  <% else %>
    <%= form_with(url: like_idea_votes_path(@idea), local: true) do |form| %>
      <div class="actions">
        <%= form.submit "+1 " %>
      </div>
    <% end %>
    <%= form_with(url: undislike_idea_votes_path(@idea), local: true) do |form| %>
      <div class="actions">
        <%= form.submit " 0 " %>
      </div>
    <% end %>
  <% end %>

<% else %>
  <%= form_with(url: dislike_idea_votes_path(@idea), local: true) do |form| %>
    <div class="actions">
      <%= form.submit "-1 " %>
    </div>
  <% end %>
  <%= form_with(url: like_idea_votes_path(@idea), local: true) do |form| %>
    <div class="actions">
      <%= form.submit "+1 " %>
    </div>
  <% end %>
<% end %>


<%= link_to 'Edit', edit_idea_path(@idea) %> |
<%= link_to 'Back', ideas_path %>
