<%= form_with(model:[@idea, @initiator_proposal], local: true) do |form| %>
  <p><%= form.hidden_field :account_id, value: current_account.id %></p>
  <p><%= form.label 'опишіть свій задум' %></p>
  <p><%= form.text_area :plan %></p>
  <div class="actions">
    <p><%= form.submit "опублікувати", class: 'btn btn-primary' %></p>
  </div>
<% end %>
