<!DOCTYPE html>
<html>
  <head>
    <title>PublicInitiatives</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if account_signed_in? %>
      <%= link_to 'вийти', destroy_account_session_path, method: :delete %>
    <% else %>
    <% end %>

    <%= yield %>
  </body>
</html>
